<div class="row" style="padding-top: 40px">
  <div class="col-md-12 col-lg-2 app-right-border text-center" style="margin: 40px 0 40px 0">
    <h3 class="app-h3-margin">Items:</h3>
    <div class="btn-group-vertical"
         *ngIf="this.items.length > 0"
         style="width: 90%">
      <button
        class="btn"
        [ngClass]="{'btn-light': item.id !== this.selectedItemId,
        'btn-primary': item.id == this.selectedItemId}"
        *ngFor="let item of this.items"
        (click)="onItemClicked(item.id)">{{ item.name }}
      </button>
    </div>


    <h6
      *ngIf="this.items.length == 0"
      style="text-align: center; margin-top: 10px">No items so far. Go into "Manage items" to add some.</h6>


    <div style="text-align: center" *ngIf="this.showForMember">
      <hr *ngIf="this.userRole == 'ADMIN' || this.userRole == 'MODERATOR'">
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-success"
                  style="margin: 5px 10px 5px 10px"
                  *ngIf="this.userRole == 'ADMIN' || this.userRole == 'MODERATOR'"
                  [routerLink]="['/items/', this.groupId]">Manage items
          </button>
        </div>
      </div>
    </div>

    <div style="text-align: center" *ngIf="!this.showForMember || this.userRole == 'MEMBER'">
      <hr *ngIf="this.userRole != 'ADMIN' || this.userRole != 'MODERATOR'">
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-info"
                  style="margin: 5px 10px 5px 10px"
                  *ngIf="this.userRole != 'ADMIN' && this.userRole != 'MODERATOR'"
                  [routerLink]="['/items-info/', this.groupId]">Items info
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-12 col-lg-8">

    <a
      *ngIf="this.showForMember && this.userRole == 'ADMIN'"
      [routerLink]="['/group/', this.groupId, 'update']">
      <h1 class="app-company-name text-center">
        {{ this.groupDetails.name }}
        <i class="fas fa-cog" style="margin-left: 5px"></i>
      </h1>
    </a>

    <h1
      *ngIf="!this.showForMember || (this.showForMember && this.userRole != 'ADMIN')"
      class="app-company-name text-center">
      {{ this.groupDetails.name }}
    </h1>

    <hr>
    <app-callendar
      [showForMember]="this.showForMember"
      [userRole]="userRole"
      [item]="selectedItem"
    ></app-callendar>
  </div>

  <div
    class="col-md-12 col-lg-2 app-left-border text-center"
    *ngIf="this.showForMember"
    style="margin-top: 40px">
    <h3 class="app-h3-margin">Members:</h3>
    <div class="btn-group-vertical" style="width: 90%">
      <button *ngFor="let member of this.members"
              class="btn btn-light btn-block my-button-border-font"
              style="background-color: {{ this.member.userColor }}">{{ member.username }}</button>
    </div>
    <div style="margin-top: 40px; text-align: center" *ngIf="this.userRole == 'ADMIN'">
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-success"
                  style="margin: 5px 10px 5px 10px"
                  [routerLink]="['/members/', this.groupId, 'info']">Manage members
          </button>
        </div>
      </div>
    </div>

    <div style="margin-top: 40px; text-align: center" *ngIf="this.userRole == 'MODERATOR' || this.userRole == 'MEMBER'">
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-danger"
                  (click)="onLeaveGroupClicked()"
                  style="margin: 5px 10px 5px 10px"
                  >Leave group
          </button>
        </div>
      </div>
    </div>

  </div>

  <div
    class="col-md-12 col-lg-2 app-left-border text-center"
    *ngIf="!this.showForMember"
    style="margin-top: 40px">
    <img
      style="max-width: 250px;
       max-height: 250px;
       margin-bottom: 30px"
      *ngIf="this.groupDetails.image != null"
      onerror="this.src='assets/no_image_long.png'"
      src="{{ this.groupDetails.image }}">
    <h3
      style="margin-bottom: 15px"
    >{{ this.groupDetails.name }}</h3>
    <p style="font-size: 19px; text-align: start; margin-left: 10px">{{ this.groupDetails.description }}</p>
  </div>

</div>

