.app-right-border {
  border-right: 2px solid black;
}

.app-left-border {
  border-left: 2px solid black;
}

.app-h3-margin {
  margin-bottom: 15px
}

.app-company-name {
  margin: 0 20px 0 20px;
  padding: 15px 10px 15px 10px;
  background-color: rgb(71, 192, 255);
  border-radius: 30px;
  color: black;
}

.my-button-border-font {
  color: white;
  font-size: 20px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
