<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <h2 style="margin-top: 20px">{{ this.editMode ? "Update group data:" : "Enter new group data:" }}</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" #f>
        <input
          #imageInput
          type="file"
          id="formImage"
          formControlName="image"
          style="background: white; border: white; margin-top: 10px; margin-bottom: 15px"
          (change)="onFileSelected($event)">

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="name">Group name:</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name">
            </div>
          </div>
        </div>
        <div *ngIf="this.nameForm.invalid && this.nameForm.touched">
          <div *ngIf="this.nameForm.errors.required">
            <p class="alert-danger">Group name is required</p>
          </div>
          <div *ngIf="this.nameForm.errors.minlength, let minlen">
            <p class="alert-danger">Group name must be at least {{ minlen.requiredLength }} characters long</p>
          </div>
          <div *ngIf="this.nameForm.errors.maxlength, let maxlen">
            <p class="alert-danger">Group name must be at most {{ maxlen.requiredLength }} characters long</p>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group">
            <label for="description">Group description:</label>
            <textarea
              style="width: 560px;"
              type="text"
              id="description"
              class="form-control"
              rows="4"
              formControlName="description"
            ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group lg">
              <label for="type">Group type:</label>
              <input
                type="text"
                id="type"
                class="form-control"
                formControlName="type">
            </div>
          </div>
        </div>

        <div *ngIf="this.typeForm.invalid && this.typeForm.touched">
          <div *ngIf="this.typeForm.errors.maxlength, let maxlen">
            <p class="alert-danger">Group type must be at most {{ maxlen.requiredLength }} characters long</p>
          </div>
        </div>


        <div class="form-control-lg form-check">
          <input
            class="form-check-input"
            type="checkbox" value=""
            id="checkbox"
            formControlName="isPublic"
            style="width: 20px; height: 20px">
          <label class="form-check-label" for="checkbox" style="margin-left: 10px">
            Make group public
          </label>
        </div>

        <h5 class="alert-danger" style="height: 30px" *ngIf="this.errorOccurred">
          Problems occurred during group creation. Try again later.
        </h5>

        <div class="row">
          <div class="col-sm">
            <button type="submit"
                    [ngClass]="this.editMode ? 'btn btn-primary' : 'btn btn-success'"
                    style="margin-top: 10px"
                    [disabled]="!this.groupForm.valid ||
                    this.editMode &&
                    (this.nameForm.value == this.group.name &&
                    this.descriptionForm.value == this.group.description &&
                    this.typeForm.value == this.group.type &&
                    this.isPublicForm.value == this.group.isPublic &&
                    this.image == this.group.image)"
            >{{ this.editMode ? "Save changes" : "Create group" }}
            </button>
          </div>
          <div class="col-sm" *ngIf="this.editMode">
            <button
              (click)="populateFormWithGroupData()"
              type="button"
              class="btn btn btn-warning"
              style="margin-top: 10px"
            >Reset changes
            </button>
          </div>
        </div>
      </form>
    </div>


    <div class="col-lg-4 col-md-6" style="border-left: 1px solid black;">
      <div style="margin: 15px 0 15px 15px">
        <h2 style="margin-bottom: 25px">{{ this.editMode ? "Group card preview:" : "Your group card:" }}</h2>
        <div class="card shadow" style="height:400px">
          <a>
            <img
              class="card-img-top"
              src="{{ this.image }}"
              alt="assets/no_image_long.png"
              onerror="this.src='assets/no_image_long.png';"
              style="height: 200px">
          </a>
          <div class="card-body">
            <h4
              class="card-title align-middle link-like">{{ this.nameForm.value == '' ? '"Group name"' : this.nameForm.value }}</h4>
            <p class="card-text"
               *ngIf="!needPopover">{{ this.descriptionForm.value == '' ? '"Group description"' : this.descriptionForm.value }}</p>
            <a
              triggers="mouseenter:mouseleave"
              placement="top"
              class="card-text"
              ngbPopover="{{ this.descriptionForm.value }}"
              popoverTitle="{{ this.nameForm.value }}"
              style=" cursor:pointer">
              <p
                *ngIf="needPopover">
                <mark>{{ this.partOfDescription }}</mark>
              </p>
            </a>
            <p class="card-text">{{ this.typeForm.value == '' ? '"Group type"' : this.typeForm.value }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="text-align: center; margin-top: 10px">
          <button
            class="btn btn-danger"
            type="button"
            *ngIf="this.editMode"
            (click)="onDeleteButtonClicked()">Delete group</button>
        </div>
      </div>
    </div>

  </div>
</div>
