.link-like {
  cursor:pointer;
  color:blue;
  font-size: 3ex;
}

mark {
  text-decoration: underline;
  color: black;
  background-color: white;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  background: #fcd7d7;
}

.alert-danger {
  max-width: 500px;
}
