<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Items:</h3>

      <div class="row">
        <div class="col-sm-10 my-no-padding-right">
          <div class="btn-group-vertical" style="width: 99%">
            <button
              class="btn my-button-margin"
              [ngClass]="{'btn-item': item.id !== this.selectedItem.id,
        'btn-primary': item.id == this.selectedItem.id}"
              *ngFor="let item of this.items, let i = index"
              (click)="onItemClicked(i)">{{ item.name }}
            </button>
          </div>
        </div>
        <div
          *ngIf="!this.isInfo"
          class="col-sm-2 my-no-padding-left">
          <div class="btn-group-vertical" style="width: 100%">
            <button
              class="btn btn-danger my-button-margin"
              *ngFor="let item of this.items, let i = index"
              (click)="onDeleteClicked(i)">X
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="!this.isInfo && this.items.length != 0">
        <hr>
        <div style="text-align: center">
          <button class="btn btn-success"
                  (click)="onAddNewItemClicked()">Add new item
          </button>
        </div>
      </div>

      <div *ngIf="this.items.length == 0"
      style="margin-top: 30px">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <h2
              style="text-align: center; color: rgba(0,0,0,0.67)"
            >No items in this group right now.</h2>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>


    </div>
    <div class="col-lg-8">

      <app-item-form
        *ngIf="items.length == 0 || this.formComponent"
        [item]="selectedItem"
        [groupId]="this.groupId"
        [editing]="this.editing"
        (editedEmitter)="onEditedItem()"
      ></app-item-form>

      <app-item-details
        [isInfo]="this.isInfo"
        *ngIf="items.length != 0 && !this.formComponent"
        [item]="selectedItem"
        (updateClickedEmitter)="onUpdateItemClicked()"
      >
      </app-item-details>

    </div>
  </div>
</div>
