<div class="container">
  <div class="row" *ngIf="this.invitingGroups.length > 0">
    <div
      class="col-lg-12">
      <h1>Groups that invited you:</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let group of this.invitingGroups">
          <app-group-card
            [isInvitation]="true"
            [group]="group"></app-group-card>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="this.invitingGroups.length == 0">
    <div class="col-md-2"></div>
    <div
      style="text-align: center;
       margin-top: 180px;
       color: #919191"
      class="col-md-8">
      <h1 style="font-size: 80px">Nobody invited you so far.</h1>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
