<div class="container">
  <div class="row" style="padding: 20px">
    <div class="col-md-4"></div>


    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-container">
            <app-circle-avatar
              [imagePatch]="'assets/avatar_icon.png'"
            ></app-circle-avatar>
            <form
              [formGroup]="registerForm"
              *ngIf="!isSuccessful"
              (ngSubmit)="onSubmit()"
              #f="ngForm"
            >
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  id="username"
                  type="text"
                  class="form-control"
                  formControlName="username"
                />
                <div *ngIf="this.usernameForm.invalid && this.usernameForm.touched">
                  <div *ngIf="this.usernameForm.errors.required">
                    <p>Username is required</p>
                  </div>
                  <div *ngIf="this.usernameForm.errors.minlength, let minlen">
                    <p>Username must be at least {{ minlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.usernameForm.errors.maxlength, let maxlen">
                    <p>Username must be at most {{ maxlen.requiredLength }} characters</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
                <div *ngIf="this.emailForm.invalid && this.emailForm.touched">
                  <div *ngIf="this.emailForm.errors.required">
                    <p>Email is required</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.minlength, let minlen">
                    <p>Email must be at least {{ minlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.maxlength, let maxlen">
                    <p>Email must be at most {{ maxlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.email">
                    <p>Email must be a valid email address</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
                <div *ngIf="this.passwordForm.invalid && this.passwordForm.touched">
                  <div *ngIf="this.passwordForm.errors.required">
                    <p>Password is required</p>
                  </div>
                  <div *ngIf="this.passwordForm.errors.minlength, let minlen">
                    <p>Password must be at least {{ minlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.passwordForm.errors.maxlength, let maxlen">
                    <p>Password must be at most {{ maxlen.requiredLength }} characters</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password_confirm">Confirm password</label>
                <input
                  id="password_confirm"
                  type="password"
                  class="form-control"
                  formControlName="password_confirm"
                />
              </div>
              <div class="row" style="text-align: start">
                <div class="col-sm-12">
                  <div *ngIf="this.passwordConfirmForm.touched">
                    <div *ngIf="this.passwordForm.value !== this.passwordConfirmForm.value">
                      <p>Passwords must be the same.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  type="submit"
                  [disabled]="!registerForm.valid || this.passwordForm.value !== this.passwordConfirmForm.value"
                >Sign Up
                </button>
              </div>

              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                Signup failed!<br/>{{ errorMessage }}
              </div>
            </form>

            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
