<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="text-align: center" *ngIf="!this.editing">
      <div class="card">
        <app-circle-avatar
          [imagePatch]="'assets/user_icon.png'"
        ></app-circle-avatar>
        <h2>Username:</h2>
        <h1 class="text-info">{{ this.user.username }}</h1>
        <h3>Email:</h3>
        <h2 class="text-info">{{ this.user.email }}</h2>
        <h3>Telephone:</h3>
        <h2 class="text-info">{{ this.user.telephone }}</h2>
      </div>
      <div class="row" style="text-align: center">
        <div class="col-sm-12">
          <button
            *ngIf="this.deleteAccount"
            class="btn btn-danger"
            style="width: 100%; margin-top: 15px"
            (click)="onDeleteProfileConfirmedClicked()"
          >I am sure to delete this account
          </button>
        </div>
        <div class="col-sm-12">
          <button
            class="btn btn-primary my-profile-button"
            (click)="onUpdateProfileClicked()"
          >Update profile
          </button>
          <button
            class="btn btn-danger my-profile-button"
            (click)="onDeleteProfileClicked()"
          >Delete profile
          </button>
        </div>
      </div>
    </div>


    <div class="col-lg-6" style="text-align: center" *ngIf="this.editing">
      <div class="card" style="padding: 0 10px 0 10px">
        <app-circle-avatar
          [imagePatch]="'assets/user_icon.png'"
        ></app-circle-avatar>


        <form
          [formGroup]="this.userFormGroup"
          (ngSubmit)="onFormSubmit()"
          #f="ngForm"
        >
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-7">
              <input
                [readOnly]="!this.editEmail"
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-warning"
                      type="button"
                      (click)="onEmailEditClicked()">{{ this.editEmail ? 'Reset' : 'Edit' }}</button>
            </div>
          </div>
          <div class="row" style="text-align: start">
            <div class="col-sm-12">
              <div *ngIf="this.emailForm.invalid && this.emailForm.touched">
                <div *ngIf="this.emailForm.errors.minlength, let minlen">
                  <p>Email must be at least {{ minlen.requiredLength }} characters</p>
                </div>
                <div *ngIf="this.emailForm.errors.maxlength, let maxlen">
                  <p>Email must be at most {{ maxlen.requiredLength }} characters</p>
                </div>
                <div *ngIf="this.emailForm.errors.email">
                  <p>Email must be a valid email address</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-7">
              <input
                [readOnly]="!this.editUsername"
                id="username"
                type="text"
                class="form-control"
                formControlName="username"
              />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-warning"
                      type="button"
                      (click)="onUsernameEditClicked()">{{ this.editUsername ? 'Reset' : 'Edit' }}</button>
            </div>
          </div>
          <div class="row" style="text-align: start">
            <div class="col-sm-12">
              <div *ngIf="this.usernameForm.invalid && this.usernameForm.touched">
                <div *ngIf="this.usernameForm.errors.required">
                  <p>Username is required</p>
                </div>
                <div *ngIf="this.usernameForm.errors.minlength, let minlen">
                  <p>Username must be at least {{ minlen.requiredLength }} characters</p>
                </div>
                <div *ngIf="this.usernameForm.errors.maxlength, let maxlen">
                  <p>Username must be at most {{ maxlen.requiredLength }} characters</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="telephone" class="col-sm-3 col-form-label">Telephone</label>
            <div class="col-sm-7">
              <input
                [readOnly]="!this.editTelephone"
                id="telephone"
                type="text"
                class="form-control"
                formControlName="telephone"
              />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-warning"
                      type="button"
                      (click)="onTelephoneEditClicked()">{{ this.editTelephone ? 'Reset' : 'Edit' }}</button>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-7">
              <input
                [readOnly]="!this.editPassword"
                id="password"
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-warning"
                      type="button"
                      (click)="PasswordEditClicked()">{{ this.editPassword ? 'Reset' : 'Edit' }}</button>
            </div>
          </div>
          <div class="row" style="text-align: start">
            <div class="col-sm-12">
              <div *ngIf="this.passwordForm.invalid && this.passwordForm.touched">
                <div *ngIf="this.passwordForm.errors.required && this.editPassword">
                  <p>Password is required</p>
                </div>
                <div *ngIf="this.passwordForm.errors.minlength, let minlen">
                  <p>Password must be at least {{ minlen.requiredLength }} characters</p>
                </div>
                <div *ngIf="this.passwordForm.errors.maxlength, let maxlen">
                  <p>Password must be at most {{ maxlen.requiredLength }} characters</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="this.editPassword">
            <label for="password_confirm" class="col-sm-4 col-form-label">Confirm password</label>
            <div class="col-sm-7">
              <input
                [readOnly]="!this.editPassword"
                id="password_confirm"
                type="password"
                class="form-control"
                formControlName="password_confirm"
              />
            </div>
          </div>
          <div class="row" style="text-align: start">
            <div class="col-sm-12">
              <div *ngIf="this.passwordConfirmForm.touched">
                <div *ngIf="this.passwordForm.value !== this.passwordConfirmForm.value">
                  <p>Passwords must be the same.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="this.updateFailed">
            <div class="col-sm-12">
              <h5 class="text-danger">Profile update failed. Try again later.</h5>
            </div>
          </div>
          <button class="btn btn-danger my-profile-button" (click)="onCancelEditingClicked()">Cancel</button>
          <button
            class="btn btn-success my-profile-button"
            type="submit"
            [disabled]="
            !this.editEmail && !this.editUsername && !this.editTelephone && !this.editPassword ||
            this.editEmail && !this.emailForm.valid ||
            this.editUsername && !this.usernameForm.valid ||
            this.editTelephone && !this.telephoneForm.valid ||
            this.editPassword && !this.passwordForm.valid ||
            this.editPassword && this.passwordForm.value !== this.passwordConfirmForm.value
"
          >Save changes</button>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

