.my-profile-button {
  width: 45%;
  margin: 15px 5px 10px 5px;
}

.btn-warning {
  width: 65px;
}

p {
  color: red;
  margin: 0 20px 10px 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  background: #fcd7d7;
}
