<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="bg">
      <h1 class="my-text-white">ReserveThis</h1>
      <p class="my-text-white">Free way to organize reservations</p>
    </div>
  </div>
</div>

<main class="mt-5">
  <div class="container">
    <section id="best-features" class="text-center">
      <h2 class="mb-5 font-weight-bold">Our application</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
          <p class="grey-text">Our application was designed for small businesses
            offering products for reservation purposes and companies that need to manage their inner goods within
            organisation departments.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-5">
          <i class="fas fa-hands-wash fa-4x"></i>
          <h4 class="my-4 font-weight-bold">Easy</h4>
          <p class="grey-text">We do our best to make it as easy as possible to use our application especially for new
            users!</p>
        </div>

        <div class="col-md-4 mb-1">
          <i class="fas fa-globe fa-4x"></i>
          <h4 class="my-4 font-weight-bold">Everywhere</h4>
          <p class="grey-text">Our application can be used on every device connected to the Internet. We do not
            recommend working during holidays though :)</p>
        </div>

        <div class="col-md-4 mb-1">
          <i class="fas fa-money-bill-wave fa-4x"></i>
          <h4 class="my-4 font-weight-bold">Free</h4>
          <p class="grey-text">Our application is completely out of charge. Your good word and happiness are the biggest
            reward we may ask for!</p>
        </div>
      </div>
    </section>

    <hr class="my-5">

    <section id="examples" class="text-center">
      <h2 class="mb-5 font-weight-bold">Tricks and Tips</h2>

      <div class="row">

        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="assets/s_create_group.png" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>
          <h4 class="my-4 font-weight-bold">New Group</h4>
          <p class="grey-text">You can create new group by going into "My groups" on navigation bar and clicking big
            plus icon.</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="assets/s_group_description.png" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>
          <h4 class="my-4 font-weight-bold">Descriptions</h4>
          <p class="grey-text">Description of some groups might be too long to display them in group card window. If so
            you can drag your mouse on underlined description part and additional window will show up.</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="assets/s_profile_update.png" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>
          <h4 class="my-4 font-weight-bold">Profile</h4>
          <p class="grey-text">You can update your profile information by going to "Profile -> Update profile" and
            selecting data you want to edit by clicking "Edit" button.</p>
        </div>
      </div>

      <div class="row text-center mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="assets/s_group_options.png" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>
          <h4 class="my-4 font-weight-bold">Group Options</h4>
          <p class="grey-text">To update group information you must click group name showed above calendar. This option
            is only available for group administrators.</p>
        </div>
      </div>

    </section>
  </div>
</main>

