.site-wrapper {
  display: table;
  width: 100%;
  height: 750px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

h1.my-text-white {
  padding-top: 200px;
  font-size: 60px;
}

p.my-text-white {
  font-size: 40px;
}

.my-text-white {
  color: white;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
  0 8px 13px rgba(0, 0, 0, 0.1),
  0 18px 23px rgba(0, 0, 0, 0.1);
}

.bg {
  background-image: url('../../../assets/clock_black.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
