<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="emailForm" #f>
      <label style="font-size: 2em" for="userEmail">New member email:</label>
      <input
        style="max-width: 500px"
        placeholder="example@email.com"
        type="email"
        id="userEmail"
        formControlName="userEmail"
        class="form-control">
      <p class="alert alert-danger"
      style="max-width: 500px; margin-bottom: 0"
      *ngIf="!emailForm.valid && emailForm.touched">Enter valid email address.</p>
      <button
        type="submit"
        style="margin: 15px 0 10px 0"
        class="btn btn-primary"
      [disabled]="!emailForm.valid">Invite new member</button>
    </form>
    <p class="alert alert-danger"
       style="max-width: 500px;"
       *ngIf="this.errorOccurred">Such user was not found.</p>
  </div>
</div>
