<div class="row app-left-border" style="padding-left: 15px">
  <div class="col-lg-12">

    <h4>Item image:</h4>
    <img src="{{ this.item.image }}"
         onerror="this.src='assets/no_image.png';"
         style="height: 300px; border: solid 1px black; margin-bottom: 15px">
    <h3 class="text-info">Item name:</h3>
    <h1>{{ this.item.name }}</h1>
    <h4
      *ngIf="this.item.description != null && this.item.description !== ''"
      class="text-info">Item description:</h4>
    <p
      *ngIf="this.item.description != null && this.item.description !== ''"
    >{{ this.item.description }}</p>
    <br>
    <button
      *ngIf="!this.isInfo"
      class="btn btn-success"
      (click)="onUpdateItemClicked()">Update item data
    </button>
  </div>
</div>
