<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your groups:</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div style="margin: 15px 10px 15px 10px">
            <div class="card shadow" style="height:400px">
              <a [routerLink]="['/new', 'group']">
                <img class="card-img-top" src="../../../../assets/plus_icon.png" alt="Image problem." style="height: 200px">
              </a>
              <div class="card-body">
                <a [routerLink]="['/new', 'group']">
                  <h4 class="card-title align-middle">Create new group</h4>
                </a>
                <p class="card-text">Click here to create your new group!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" *ngFor="let group of this.userGroups">
          <app-group-card
            [group]="group"></app-group-card>
        </div>
      </div>
    </div>
  </div>
</div>
