<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h1>Public groups:</h1>
        </div>

        <div class="col-md-8 col-sm-12" style="padding-top: 15px">
          <input
            class="form-control"
            type="text"
            name="search"
            style="width: 80%"
            [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search for public group.">
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let group of this.publicGroups | filter:searchText">
          <app-group-card
            [group]="group"></app-group-card>
        </div>
      </div>
    </div>
  </div>
</div>

