<app-calendar-header
  [(view)]="view" [(viewDate)]="viewDate"
></app-calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number"
    >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <small style="margin: 5px;" *ngIf="day.cssClass != null && day.cssClass.includes('reserved')">Reserved</small>
</ng-template>

<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  (dayClicked)="dayClicked($event.day)"
  (beforeViewRender)="beforeMonthViewRender($event)"
  [cellTemplate]="customCellTemplate"
>
</mwl-calendar-month-view>
<hr *ngIf="this.showForMember">
<div class="row"
     *ngIf="this.showForMember"
     style="text-align: center; margin-top: 20px">
  <div class="col">
    <a
      [disablePopover]="canCreateReservation"
      triggers="mouseenter:mouseleave"
      placement="top"
      class="card-text"
      ngbPopover="Choose days to reserve or unselect days that are already reserved to proceed this action."
      popoverTitle="Not allowed!"
      style="cursor:pointer">
      <button class="btn btn-success btn-lg"
              [disabled]="!canCreateReservation || this.onlyDelete"
              (click)="onAddReservation()"
      >Add Reservation
      </button>
    </a>
  </div>
  <div class="col">
    <button class="btn btn-info btn-lg"
            [disabled]="!(this.selectedDays.length > 0)"
            (click)="onClearSelections()">Clear Selections
    </button>
  </div>
  <div class="col">
    <button class="btn btn-danger btn-lg"
            [disabled]="!(this.selectedDays.length > 0)"
            (click)="onDeleteReservation()">Delete Reservation
    </button>
  </div>
</div>

