.cal-day-selected,
.cal-day-selected-reserved,
.cal-day-selected:hover {
  background-color: deeppink !important;
}

.cal-month-view .cal-day-number {
  opacity: 1 !important;
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.3 !important;
}

.cal-day-cell.cal-today {
  border: 2px dotted black !important;
  font-family: "Arial Black" !important;
}

.-reserved {}

