<div class="container">
  <div class="row" style="padding: 20px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-container">
            <app-circle-avatar
            [imagePatch]="'assets/avatar_icon.png'"
            ></app-circle-avatar>
            <form
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              #f="ngForm"
            >
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                />
                <div *ngIf="this.emailForm.invalid && this.emailForm.touched">
                  <div *ngIf="this.emailForm.errors.required">
                    <p>Email is required</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.minlength, let minlen">
                    <p>Email must be at least {{ minlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.maxlength, let maxlen">
                    <p>Email must be at most {{ maxlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.emailForm.errors.email">
                    <p>Email must be a valid email address</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
                <div *ngIf="this.passwordForm.invalid && this.passwordForm.touched">
                  <div *ngIf="this.passwordForm.errors.required">
                    <p>Password is required</p>
                  </div>
                  <div *ngIf="this.passwordForm.errors.minlength, let minlen">
                    <p>Password must be at least {{ minlen.requiredLength }} characters</p>
                  </div>
                  <div *ngIf="this.passwordForm.errors.maxlength, let maxlen">
                    <p>Password must be at most {{ maxlen.requiredLength }} characters</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  type="submit"
                  [disabled]="!emailForm.valid">
                  Login
                </button>
              </div>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="isLoginFailed"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
