.my-no-padding-left {
  padding-left: 0;
}

.my-no-padding-right {
  padding-right: 0;
}

.my-right-border {
  border-right: 2px solid black;
}

.my-button-margin {
  margin-top: 1px !important;
}

.btn-invitations {
  background-color: #882ed9;
  color: #ffffff;
}

.my-button-border-font {
  font-size: 20px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
