<div class="container">
  <div class="row">
    <div class="col-lg-4 my-right-border">
      <h3>Members:</h3>

      <div class="row">
        <div class="col-sm-10 my-no-padding-right">
          <div class="btn-group-vertical"

               style="width: 99%">
            <button
              #member_buttons
              class="btn my-button-border-font"
              [ngClass]="{'btn-light': member.id !== this.selectedMember.id,
        'btn-primary': member.id == this.selectedMember.id}"
              *ngFor="let member of this.members, let i = index"
              (click)="onMemberClicked(i)"
              [ngStyle]="{'background-color': member.userColor}"
              [routerLink]="['/members/', this.groupId, 'info']">{{ member.username }}
            </button>
          </div>
        </div>
        <div class="col-sm-2 my-no-padding-left">
          <div class="btn-group-vertical" style="width: 100%">
            <button
              class="btn btn-danger my-button-border my-button-border-font"
              *ngFor="let member of this.members, let i = index"
              [disabled]="member.userRole == 'ADMIN'"
              (click)="onDeleteMemberClicked(i)">X
            </button>
          </div>
        </div>
      </div>

      <hr *ngIf="this.invitedUsers.length > 0">
      <h3 *ngIf="this.invitedUsers.length > 0">Invited users:</h3>
      <div class="row"
           *ngIf="this.invitedUsers.length > 0">
        <div class="col-sm-10 my-no-padding-right">
          <div class="btn-group-vertical" style="width: 99%">
            <button
              class="btn btn-invitations my-button-margin my-button-border-font"
              [disabled]="true"
              *ngFor="let invitedUser of this.invitedUsers, let i = index"
            >{{ invitedUser.username }}
            </button>
          </div>
        </div>
        <div class="col-sm-2 my-no-padding-left">
          <div class="btn-group-vertical" style="width: 100%">
            <button
              class="btn btn-danger my-button-margin my-button-border-font"
              *ngFor="let invitedUser of this.invitedUsers, let i = index"
              (click)="onDeleteInvitationClicked(i)">X
            </button>
          </div>
        </div>
      </div>

      <hr>
      <div style="text-align: center">
        <button class="btn btn-success"
                [routerLink]="['/members/', this.groupId, 'new']"
        >Add new member
        </button>
      </div>

    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
