<div class="row app-left-border" style="padding-left: 15px">
  <div class="col-lg-12">
    <h3
      *ngIf="this.image == null">Select item image (optional).</h3>

    <h3 *ngIf="this.image != null"
        class="p-3 mb-2 bg-info text-white"
        style="width: 500px">Selected image:</h3>
    <img *ngIf="this.image != null"
         src="{{ this.image }}"
         alt="assets/no_image.png"
         style="height: 300px; border: solid 1px black">

    <form (ngSubmit)="onSubmit()" [formGroup]="itemForm" #f>
      <input
        type="file"
        id="formImage"
        formControlName="image"
        style="background: white; border: white; margin-top: 10px; margin-bottom: 15px"
        (change)="onFileSelected($event)">


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Item name:</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div *ngIf="this.nameForm.invalid && this.nameForm.touched">
        <div *ngIf="this.nameForm.errors.required">
          <p class="alert-danger">Item name is required</p>
        </div>
        <div *ngIf="this.nameForm.errors.minlength, let minlen">
          <p class="alert-danger">Item name must be at least {{ minlen.requiredLength }} characters long</p>
        </div>
        <div *ngIf="this.nameForm.errors.maxlength, let maxlen">
          <p class="alert-danger">Item name must be at most {{ maxlen.requiredLength }} characters long</p>
        </div>
      </div>


      <div class="row col-md-12">
        <div class="form-group">
          <label for="description">Item description:</label>
          <textarea
            style="width: 560px;"
            type="text"
            id="description"
            class="form-control"
            rows="4"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <button class="btn btn-success"
              type="submit"
              [disabled]="!this.itemForm.valid ||
              this.editing && (
              this.nameForm.value == this.item.name &&
              this.descriptionForm.value == this.item.description) && this.image == null"
      >{{ this.editing ? "Save changes" : "Add item" }}</button>

    </form>
  </div>
</div>
