<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" style="margin-left: 30px">{{ this.appName }}</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="user_invitations">Invitations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="public_groups">Public groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="user_groups">My groups</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" style="margin-right: 30px">LogOut</a>
      </li>
    </ul>
  </nav>
  <div
    [ngClass]="appRouter.url === '/home' ? 'home' : 'not-home'">
    <router-outlet></router-outlet>
  </div>
  <div style="margin-top: 100px">
    <app-footer></app-footer>
  </div>
</div>
