<footer class="site-footer">
  <div class="container" style="margin-bottom: 20px">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About me</h6>
        <p class="text-justify" style="padding-right: 15px">
          I am interested in computers till i was a child so programming is very enjoying for me. I would like to work as a full-stack web developer (preferably using java + spring). Except that I also like sailing, skiing, swimming and basketball.
        </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <h6>I have used</h6>
        <div class="row">
          <div class="col-sm-4">
            <ul class="footer-links">
              <li>Java</li>
              <li>Spring</li>
              <li>SQL</li>
              <li>Angular</li>
            </ul>
          </div>
          <div class="col-sm-5">
            <ul class="footer-links">
              <li>Bootstrap</li>
              <li>Python 3.x</li>
              <li>Git</li>
              <li>JUnit 5</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <h6 style="margin-bottom: 20px; margin-left: 10px">Quick links</h6>
        <ul class="social-icons">
          <li><a class="gitlab" href="#"><i class="fab fa-gitlab"></i></a></li>
          <li><a class="github" href="#"><i class="fab fa-github"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>
