<div class="row" style="margin-left: 10px">
  <div class="col-lg-12">
    <h2 class="text-info">Username:</h2>
    <h1>{{ this.member.username }}</h1>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-4">
        <h4 class="text-info">Member color:</h4>
        <svg width="150" height="70"
             style="margin: 5px 0 5px 0; border-radius: 40px; border: 1px solid black">
          <rect
            rx="40"
            #rectangle
            width="150" height="70"
          />
        </svg>
      </div>
      <div class="col-sm-8" *ngIf="!changeColor">
        <button class="btn btn-success my-button-position" (click)="this.changeColor = !this.changeColor">Change color</button>
      </div>
      <div class="col-lg-8" *ngIf="changeColor">
        <h4>Currently selected color:</h4>
        <div class="row">
          <div class="col-lg-12">
            <input
              style="width: 150px; height: 70px; margin: 10px 0 10px 0; border-radius: 40px; border: 1px solid black"
              [style.background]="this.selectedColor" [(colorPicker)]="this.selectedColor"
              (colorPickerClose)="onColorPickerClosed('colorPickerClose', $event)"/>
            <button class="btn btn-success"
                    style="margin-left: 20px"
                    [disabled]="this.selectedColor == this.member.userColor"
                    (click)="onUpdateColorClicked()"
            >Update color
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-lg-4">
        <h3 class="text-info">Member role:</h3>
        <h3>{{ this.member.userRole }}</h3>
      </div>
      <div class="col-lg-8" *ngIf="!changeRole && this.currentUserEmail != this.member.userEmail">
        <button class="btn btn-success my-button-position" (click)="this.changeRole = !this.changeRole">Change role</button>
      </div>
      <div class="col-lg-8" *ngIf="changeRole">

        <div class="row">
          <div class="col-sm-12" style="margin-top: 30px">
            <select class="browser-default custom-select" style="max-width: 250px" [(ngModel)]="selectedRole">
              <option disabled selected>Select new role for member.</option>
              <option
                *ngFor="let role of this.userRoles, let i = index"
                value="{{ role }}">{{ role }}</option>
            </select>
            <button class="btn btn-success"
                    style="margin-left: 20px"
                    [disabled]="this.selectedRole == this.member.userRole || this.selectedRole == this.START_OPTION"
                    (click)="onUpdateRoleClicked()"
            >Update role
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
