<div style="margin: 15px 10px 15px 10px">
  <div class="card shadow" style="height:400px">
    <a [routerLink]="['/group/', this.group.id]">
      <img
        class="card-img-top"
        src="{{ group.image }}"
        alt="assets/no_image.png"
        onerror="this.src='assets/no_image.png';"
        style="height: 200px">
    </a>
    <div class="card-body">
      <a [routerLink]="['/group', this.group.id]">
        <h4 class="card-title align-middle">{{ group.name }}</h4>
      </a>
      <p class="card-text" *ngIf="!needPopover">{{ group.description }}</p>
      <a
        triggers="mouseenter:mouseleave"
        placement="top"
        class="card-text"
        ngbPopover="{{ group.description }}"
        popoverTitle="{{ group.name }}"
        style="cursor:pointer">
        <p
          *ngIf="needPopover">
          <mark>{{ this.partOfDescription }}</mark>
        </p>
      </a>
      <p class="card-text">{{ group.type }}</p>
    </div>


    <div class="row" *ngIf="this.isInvitation">
      <div class="col-5">
        <button class="btn btn-success my-btn-card" (click)="onAcceptInvitationClicked()">Accept</button>
      </div>
      <div class="col-2">
      </div>
      <div class="col-5">
        <button class="btn btn-danger my-btn-card" (click)="onDeclineInvitationClicked()">Decline</button>
      </div>
    </div>


  </div>
</div>
